

<div id="users">
  <% for user in @users %>
  <div class="user">
  	<% unless @id == user.id %>
	    <p>
	      <strong><%=h user.name %></strong>
	      	<% if @friendships.find_by(friend_id: user)%>
	      		Added!
	      	<% else %>
	      		<%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %>
	      	<% end %>
	      <div class="clear"></div>
	    </p>
    <% end %>
  </div>
  <% end %>
</div>